*, *:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { display: table; content: ''; }
.clearfix:after { clear: both; }

body {
	color: #fff;
	font-weight: 200;
	font-size: 1em;
	font-family: 'Raleway', Arial, sans-serif;
}

.img-wrapper a {
	outline: none;
	color: #3498db;
	text-decoration: none;
}

.img-wrapper a:hover, a:focus {
	color: #528cb3;
}







.img-wrapper .content {
	margin: 0 auto;
	width: auto;
}

/* .img-wrapper .content > h2 {
	clear: both;
	margin: 0;
	padding: 4em 1% 0;
	color: #484B54;
	font-weight: 800;
	font-size: 1.5em;
}

.img-wrapper .content > h2:first-child {
	padding-top: 0em;
} */








.img-wrapper .grid {
	position: relative;
	margin: 0 auto;
    padding: 1em 0 4em;
    max-width: 1000px;
	list-style: none;
	text-align: center;
}

/* Common style */
.img-wrapper .grid figure {
	position: relative;
	float: left;
	overflow: hidden;
	margin: 10px 1%;
	min-width: 320px;
	max-width: 480px;
	max-height: 360px;
	width: 100%;
	background: #3085a3;
	text-align: center;
	cursor: pointer;
}

.img-wrapper .grid figure img {
	position: relative;
	display: block;
	min-height: 100%;
	max-width: 100%;
	opacity: 0.8;
}

.img-wrapper .grid figure figcaption {
	padding: 2em;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.img-wrapper.grid figure figcaption::before,
.img-wrapper .grid figure figcaption::after {
	pointer-events: none;
}

.img-wrapper .grid figure figcaption,
.img-wrapper .grid figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.img-wrapper .grid figure figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

.img-wrapper .grid figure h2 {
	word-spacing: -0.15em;
	font-weight: 300;
}

.img-wrapper .grid figure h2 span {
	font-weight: 800;
}

.img-wrapper .grid figure h2,
.img-wrapper .grid figure p {
	margin: 0;
}

.img-wrapper .grid figure p {
	letter-spacing: 1px;
	font-size: 68.5%;
}







/*---------------*/
/***** Milo *****/
/*---------------*/

.img-wrapper figure.effect-milo {
	background: #2e5d5a;
}

.img-wrapper figure.effect-milo img {
	max-width: none;
	width: -webkit-calc(100% + 60px);
	width: calc(100% + 60px);
	opacity: 1;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(-30px,0,0) scale(1.12);
	transform: translate3d(-30px,0,0) scale(1.12);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.img-wrapper figure.effect-milo:hover img {
	opacity: 0.5;
	-webkit-transform: translate3d(0,0,0) scale(1);
	transform: translate3d(0,0,0) scale(1);
}

.img-wrapper figure.effect-milo h2 {
	position: absolute;
	right: 0;
	bottom: 0;
	padding: 1em 1.2em;
}

.img-wrapper figure.effect-milo p {
	padding: 0 10px 0 0;
	width: 50%;
	border-right: 1px solid #fff;
	text-align: right;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(-40px,0,0);
	transform: translate3d(-40px,0,0);
}

.img-wrapper figure.effect-milo:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}






@media screen and (max-width: 50em) {
	.img-wrapper .content {
		padding: 0 10px;
		text-align: center;
	}
	.img-wrapper .grid figure {
		display: inline-block;
		float: none;
		margin: 10px auto;
		width: 100%;
	}
}